[submodule "sw/SoC/lib/tinyio"]
	path = sw/SoC/lib/tinyio
	url = https://github.com/Granp4sso/TinyIO-library-for-printf-and-scanf-.git
[submodule "sw/SoC/projects/freertos_demo"]
	path = sw/SoC/projects/freertos_demo
	url = https://github.com/JohnLuke77/freertos_demo
